table {

  margin: 25px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  //border: 1px solid black;
}
.income-detail {
  font-size: 1.3rem;
  padding: 10px;
}

.income-row {
  background: #0188bc;
  padding: 15px;
  border-radius: 12px;
  color: #fff;
}
