<div class="app-eventadd">
  <div class="logo">
    <div class="form-title">
      Subscription Edit
    </div>
  </div>
  <div class="eventadd-form">
    <form>
      <div class="inline-form">
        <mat-form-field appearance="outline" color="accent">
          <mat-label>DAYS</mat-label>
          <input type="number" min="1" (mouseup)="onlyNumbers($event)" (mousedown)="onlyNumbers($event)"
          (keyup)="onlyNumbers($event)" (keydown)="onlyNumbers($event)" name="day" matInput autocomplete="off" [(ngModel)]="item.dayvalue" required>
        </mat-form-field>
      </div>

      <div class="inline-form">
        <mat-form-field appearance="outline" color="accent">
          <mat-label>AMOUNT</mat-label>
          <input type="number" min="1" (mouseup)="onlyNumbers($event)" (mousedown)="onlyNumbers($event)"
          (keyup)="onlyNumbers($event)" (keydown)="onlyNumbers($event)" name="amount" matInput autocomplete="off" [(ngModel)]="item.amountvalue" required>
        </mat-form-field>
        
      </div>

      <div class="inline-form">
        <mat-form-field appearance="outline" color="accent">
          <mat-label>TAX</mat-label>
          <input type="number" min="1" max="100" name="tax" matInput autocomplete="off" [(ngModel)]="item.taxvalue" required>
        </mat-form-field>
      </div>

      <div class="inline-form">
        <mat-form-field appearance="outline" color="accent">
          <mat-label>Batch Count</mat-label>
          <input type="number" min="1" max="100" name="batchcount" matInput autocomplete="off" [(ngModel)]="item.batchcount" required>
        </mat-form-field>
      </div>

      <div class="inline-form btn-signup">
          <button mat-raised-button color="accent" tabindex="9" (click)="editsubscription()">UPDATE</button>
        <button mat-raised-button color="warn" [mat-dialog-close]="true">Cancel</button>
      </div>
    </form>
  </div>
</div>