<div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center">
  <div fxLayout="column">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Select Event</mat-label>
      <mat-select required>
        <mat-option *ngFor="let rewardList of EventRewardList" [value]="rewardList.event_name"
          (click)="nameselection(rewardList)">
          {{rewardList.event_name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div fxLayout="column">
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
      <div fxLayout="column">
        <button [disabled]="!eventid && !trainerid" mat-raised-button color="accent"
          (click)="reedemrequest()">Reedem</button>
      </div>
      <div fxLayout="column">
        <button mat-raised-button color="warn" [mat-dialog-close]="true">Cancel</button>
      </div>
    </div>
  </div>
</div>