.name-heads {
  min-width: 150px;
  font-size: 1rem;
  max-width: 250px;
  width: 100%;
}
.name-detailss {
  max-width: 50%;
  width: 100%;
}
.user-profile-info {
  padding: 20px;
}
.bmiclass {
  background-color: #61b4d5;
  color: #f4f4f4;
  border-radius: 5px;
  width: 30px;
  height: 24px;
}