.small-card-container {
    background: rgb(255, 255, 255);
    border-radius: 5px;
    width: 235px;
    margin-bottom: 20px;
    &:hover {
        box-shadow: 0px 0px 6px #0189bd;
    }
    &.active {
        border: 1px solid #0189bd;
    }
    .sub-header {
        border-bottom: 1px solid #f4f4f4;
        padding: 10px;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        align-items: center;
        //background: #568fef;
        color: #000;
        font-size: 15px;
        font-weight: 500;
    }
    .content-container {
        padding: 10px;
    }
    .footer-container {
        padding: 5px 10px;
        border-top: 2px solid #f4f4f4;
        .counts-show {
            padding: 5px;
            border-radius: 50px;
            color: #0189bd;
            font-size: 13px;
            height: 30px;
            width: 30px;
            background: #dee2e6;
            text-align: center;
        }
    }
}
