<div class="app-aboutus">
  <div class="about-desc" fxLayout="column" fxLayoutAlign=" none" fxLayout.gt-sm="row"
    style="display: flex; flex-wrap: wrap-reverse;">
    <div class="about-desc-sec" fxFlex>
      <p>
        We live in a busy world and you may not always find the time to visit a gym near you.
        We understand! Which is why our Do-it-Yourself workout videos are the perfect way to get fit at home.

        Life can get busy, and oftentimes we find ourselves traveling or otherwise unable to get to our preferred
        health and fitness facility for a workout. We offer you different moves to
        help you stay on track, no matter where you find yourself. Using only your own body weight,
        these versatile moves can help you create a total-body at-home workout that fits your needs and abilities.
        Individuals can increase fitness following increases in physical activity levels.
      </p>
      <div class="about-title">Who We Are?</div>
    </div>
    <div class="image-section" fxFlex>
      <img class="abt-banner" src="https://cdn.gaystarnews.com/uploads/2017/12/Adam-Hocke-.jpg"
        alt="Fit-Social-About-image">
    </div>
  </div>
  <div class="about-desc" fxLayout="column" fxLayoutAlign=" none" fxLayout.gt-sm="row">
    <div class="image-section" fxFlex>
      <img class="abt-banner" src="https://cdn.pixabay.com/photo/2021/03/27/10/43/yoga-6128116_960_720.jpg"
        alt="Fit-Social-About-image">
    </div>
    <div class="about-desc-sec" fxFlex>
      <div class="about-title">What We do?</div>
      <p>Exercise is defined as any movement that makes your muscles work and requires your body to burn calories.
        There are many types of physical activity, including swimming, running, jogging, walking and dancing, to name a
        few.
        Being active has been shown to have many health benefits, both physically and mentally.
        It may even help you live longer.
        Physical exercise is important for maintaining physical fitness and can contribute to maintaining a
        healthy weight, regulating the digestive system, building and maintaining healthy bone density,
        muscle strength, and joint mobility, promoting physiological well-being, reducing surgical risks,
        and strengthening the immune system. Some studies indicate that exercise may increase life expectancy
        and the overall quality of life. People who participate in moderate to high levels of physical
        exercise have a lower mortality rate compared to individuals who by comparison are not physically active.</p>
    </div>
  </div>
</div>