.fitsocial-banner-main {
  border-radius: 5px;
  padding: 0px 0px 0px 30px;
  width: 100%;
  background-color: #fff;
}
.register-button {
  outline: 0;
  border-radius: 25px;
  letter-spacing: 0.8px;
  background-color: #04b3f4;
  box-shadow: 0px 0px 0px !important;
}