<div fxLayout="column" class="fitsocial-banner-main" ngStyle.xs="padding:10px">
  <div fxLayout="row" fxLayoutGap.xs="20px" fxLayoutGap.sm="20px" fxLayout.xs="column" fxLayout.sm="column"
    fxLayoutAlign.xs="center center" fxLayoutAlign.xs="center center" fxLayoutAlign="space-between center">
    <div fxLayout="column">
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="30px" fxLayoutGap.xs="0px"
        fxLayoutGap.sm="0px" fxLayoutAlign="center center">
        <div fxLayout="column">
          <div
            ngStyle.xs="line-height: 1.5;text-align:center;font-size: 1rem !important;font-weight:500;letter-spacing: 0.5px;"
            style="font-size: 1.2rem;font-weight:500;letter-spacing: 1.5px;">
            Passionate about training people..? Click here and become a Fitness Trainer</div>
        </div>
        <div fxLayout="column">
          <button class="register-button" mat-raised-button color="accent" (click)="trainerNavigate()">Register</button>
        </div>
      </div>
    </div>
    <div fxLayout="column" fxHide.xs fxHide.sm>
      <img src="https://i.ibb.co/jJx9QNp/bg2.png" width="330px" height="100px">
    </div>
  </div>
</div>