<div class="fitsocial-works" fxLayout="column">
  <div fxLayout="column" class="head-main" fxLayoutAlign="center center"> How it Works </div>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="20px" fxLayout.sm="column"
    class="container">
    <div class="fitsocial-process" fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="10px">
      <div fxLayout="column">
        <i class="fa fa-sign-in icon-process" aria-hidden="true"></i>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center" style="text-align: center;">
        Register to the Fit Socials platform by providing a few basic information.
      </div>
    </div>
    <div class="fitsocial-process" fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="10px">
      <div fxLayout="column">
        <i class="fa fa-calendar   icon-process" aria-hidden="true"></i>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center" style="text-align: center;">
        Select the event that you are interested and choose the comfortable batch to continue.
      </div>
    </div>
    <div class="fitsocial-process" fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="10px">
      <div fxLayout="column">
        <i class="fa fa-money icon-process" aria-hidden="true"></i>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center" style="text-align: center;">
        Apply offer code or Coupon code and register to a event by paying reasonable amount.
      </div>
    </div>
    <div class="fitsocial-process" fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="10px">
      <div fxLayout="column">
        <i class="fa fa-smile-o  icon-process" aria-hidden="true"></i>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center" style="text-align: center;">
        Enjoy your workout plan with different set of exercises and achieve your body goals.
      </div>
    </div>
  </div>
</div>