.app-usermanage {
  // padding: 10px 100px;
  > table {
    width: 100%;
    font-family: arial, sans-serif;
    border-collapse: collapse;
  }
}

mat-form-field {
  width: 100%;
}
.action-btn {
  margin: 0px 10px;
}
.admin-img {
  height: 50px;
  min-width: 100px;
  max-width: 100px;
  padding: 3px 0px;
}
.action-sec {
  display: flex;
  align-items: center;
  justify-content: center;

}
.hover-info:hover {
  // background-color:orange;
  text-decoration: underline;
  color: #673ab7;
  cursor: pointer;
}
.hover-info{
  text-decoration: none !important;
}
.hover-info i{
  color: #1b2c49;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.hover-info i:hover{
 text-decoration: none;
  color: #a79306;
}

.extra-form button {
  margin-right: 10px;
}

