<div *ngIf="pageManager.status === 1; else showInfoContainer">
  <app-loading-component [imageSize]="2"> </app-loading-component>
</div>
<ng-template #showInfoContainer>
  <div *ngIf="pageManager.action === 2; else showEventInfo">
    <app-no-content></app-no-content>
  </div>
  <ng-template #showEventInfo>
    <div class="app-paymentmanage" *ngIf="pageManager.action === 1 && pageManager.status === 2">


      <mat-form-field color="acent">
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Payments">
      </mat-form-field>
      <h1>The Table showing list of Payment Status</h1>

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" >


        <ng-container matColumnDef="slno">
          <th mat-header-cell *matHeaderCellDef > ID </th>
          <td class="data-center" mat-cell *matCellDef="let i=index"> {{i+1}} </td>
        </ng-container>

        <ng-container matColumnDef="event">
          <th mat-header-cell *matHeaderCellDef > Event Info </th>
          <td class="data-center" mat-cell *matCellDef="let element"><a class="hover-info"
              (click)="eventmove(element)">View Event</a> </td>
        </ng-container>

        <ng-container matColumnDef="user_id">
          <th mat-header-cell *matHeaderCellDef > User Info </th>
          <td  mat-cell *matCellDef="let element"><a class="hover-info"
              (click)="userinfo(element)">{{element.diaplay_name | uppercase}}</a> </td>
        </ng-container>
        <ng-container matColumnDef="created_at">
          <th mat-header-cell *matHeaderCellDef > Date of subscription </th>
          <td class="data-center" mat-cell *matCellDef="let element"> {{element.created_at | date:'dd/MM/yyyy'}}</td>
        </ng-container>


        <ng-container matColumnDef="order_id">
          <th mat-header-cell *matHeaderCellDef > Order ID </th>
          <td mat-cell *matCellDef="let element"> {{element.order_id}} </td>
        </ng-container>

        <ng-container matColumnDef="payment_id">
          <th mat-header-cell *matHeaderCellDef > Payment ID </th>
          <td  mat-cell *matCellDef="let element"> {{element.payment_id }} </td>
        </ng-container>

        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef > Amount(₹) </th>
          <td class="data-center" mat-cell *matCellDef="let element"> {{element.totalamount}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator #paginator *ngIf="dataSource" [length]="menus.length" [pageSize]="5" [pageSizeOptions]="[5,10,100]"
        [showFirstLastButtons]="true" (page)="managePagination($event)">
      </mat-paginator>
    </div>
  </ng-template>
</ng-template>
