.event-heads {
  font-weight: 500;
  font-size: 1rem;
}
.event-name{
  font-size: 1rem;
    color: rgba(0, 0, 0, 0.54);
}

.event-designation{
  font-size: 0.65rem;
    color: rgba(0, 0, 0, 0.54);
}
.user-name{
  font-weight: 500;
}
.review-delete{
color:red;
cursor: pointer;
}
.review-edit{
color: blue;
cursor: pointer;
}
.review-save{
  color: green;
  cursor: pointer;
  }

  .banner{
    height: 100%;
  }

