<div *ngIf="pageManager.status === 1; else showInfoContainer">
    <app-loading-component [imageSize]="2"> </app-loading-component>
</div>
<ng-template #showInfoContainer>
    <div style="text-align: center;font-size: 1rem;color: #0189bd;line-height: 0.8;margin: 15px 0;" class="no-points"
     *ngIf="pageManager.action === 2">
    <p style="color: #4474a6;"
    >
        You have <b>0 Reward Points</b>, so far...!
    </p>
    <p>
        Start Inviting your friends and family to make the Fitness session joyful and earn Reward points
    </p>
    <p>
        Use these points to get Discount Coupons and other Rewards in exchange!!!
    </p>

        <!--  <app-no-content *ngIf="pageManager.action === 2"></app-no-content> -->
        <!-- <h1>There are No Rewards, Please refer your Friend and gain points</h1><br> -->
        <!-- <h3>Referal Code : <span style="padding: 34px;">{{UUID}}</span>
            <button (click)="copyInputMessage()" value="click to copy">
                <span class="material-icons" style="font-size: 18px;color: #0189bd;">
                    content_copy
                </span>
            </button></h3> -->
    </div>
    <div fxLayout="column" fxLayoutGap="20px" style="padding:10px;height: calc(100vh - 25px);overflow: auto;"
        fxLayoutAlign="start center">
        <div fxLayoutGap="15px" class="reward-container" fxLayout="column" fxLayoutAlign="start center">
            <div fxLayout="column">
                <div class="reward-header">Total Available Points </div>
            </div>
            <div fxLayout="column">
                <div *ngIf="menus && menus.length !== 0;else showzero" class="reward-amount">
                    {{menus[0].balance_points}}
                </div>
                <ng-template #showzero>
                    <div class="reward-amount">
                        0
                    </div>
                </ng-template>
            </div>
        </div>
        <div fxLayoutGap="15px" fxLayout="column" fxLayoutAlign="start center">
            <div fxLayout="row" style="
            display: flex;flex-wrap: wrap;
                background-color: #fff;border-radius: 10px; padding: 5px 0;">
                <div fxLayout="column" style="border-right: 1px solid #f4f4f4;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0 10px;
                color: #009688;">Referral Code </div>
                <div fxLayout="column" fxLayoutAlign="center center" (click)="copyInputMessage()"
                style="padding: 10px;cursor: pointer; " fxHide.xs>
                    {{UUID | trim:15}}</div>
                <div fxLayout="column" fxLayoutAlign="center center">
                    <button class="transparentBtn" (click)="copyInputMessage()" value="click to copy"
                        fxLayoutAlign="center center" style="border-radius: 5px;outline:0">
                        <span class="material-icons" style="font-size: 18px;color: #0189bd;padding: 10px;"
                            fxLayoutAlign="center center">
                            content_copy
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <div *ngIf="pageManager.action === 1 && pageManager.status === 2" fxLayout="column"
            style="width: 100%;padding-right: 10px;padding-left: 10px;">
            <div fxLayout="column">
                <div fxLayout="column" fxLayoutAlign="center center">
                    <table  mat-table style="border-radius: 5px;" [dataSource]="dataSource" matSort>

                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef style="color: #4474a6;"> No. </th>
                            <td mat-cell *matCellDef="let element;let i = index"> {{i+1}} </td>
                        </ng-container>

                        <ng-container matColumnDef="title">
                            <th mat-header-cell *matHeaderCellDef style="color: #4474a6;"> Title
                            </th>
                            <td mat-cell *matCellDef="let element"> {{element.comment || ''}} </td>
                        </ng-container>

                        <ng-container matColumnDef="credit">
                            <th mat-header-cell *matHeaderCellDef style="color: #4474a6;"> Credit </th>
                            <td mat-cell *matCellDef="let element"> {{element.credited_points || '0'}} points </td>
                        </ng-container>

                        <ng-container matColumnDef="debit">
                            <th mat-header-cell *matHeaderCellDef style="color: #4474a6;"> Debit </th>
                            <td mat-cell *matCellDef="let element"> {{element.debited_points || '0'}} points </td>
                        </ng-container>

                        <ng-container matColumnDef="balance">
                            <th mat-header-cell *matHeaderCellDef style="color: #4474a6;"> Balance </th>
                            <td mat-cell *matCellDef="let element"> {{element.balance_points || '0'}} </td>
                        </ng-container>
                        <tr mat-header-row style="border-radius: 5px;" *matHeaderRowDef="displayedColumns">
                        </tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <!-- <mat-paginator #paginator *ngIf="dataSource" [length]="menus.length" [pageSize]="5"
                        [pageSizeOptions]="[5,10,20]" [showFirstLastButtons]="true" (page)="managePagination($event)">
                    </mat-paginator> -->
                </div>
            </div>
        </div>
    </div>
</ng-template>
