.fitsocial-main-badge {
  background-color: #212529;
  color: #fff;
  min-height: 244px;
  margin-top: 83px;
}
.img-custom {
  height: 312px;
  position: absolute;
  top: -190px;
  left: -127px;
}

.fitsocial-main-invite {
  min-width: 355px;
  padding: 20px;
  max-width: 65% !important;
}
.fitsocial-main-invite-head {
  font-size: 1.9rem !important;
  font-family: cursive;
}
.share-button {
  outline: 0;
  width: 100px;
  border-radius: 25px;
  letter-spacing: 0.8px;
  background-color: #04b3f4;
  box-shadow: 0px 0px 0px !important;
}
.text {
  text-align: center;
  line-height: 1.5rem;
  letter-spacing: 0.1em;
}
