.summary-head {
  font-weight: 500;
  font-size: 1rem;
  //min-width: 200px;
}
.summary-info {
  font-weight: 400;
  font-size: 1rem;
}
.summary-all {
  margin: 10px 0px;
}
.mainsection {
  background-color: #f4f4f4;
  padding: 20px;
}
