.user-head {
  font-size: 1.5rem;
  font-weight: 600;
  color: #000;
  color: #096182;
  text-decoration: underline;
}
.category-dialog {
  display: grid;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  line-height: 3rem;
}
.user-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.user-title {
  min-width: 15px;
  font-weight: 500;
  font-size: 1rem;
}
.user-title {
  min-width: 150px;
}

.data-btn {
  text-align: center;
  display: flex;
  justify-content: center;
}
