.name-heads {
  min-width: 150px;
  font-size: 1rem;
  max-width: 250px;
  width: 100%;
}
.name-detailss {
  max-width: 50%;
  width: 100%;
}
.fit-social-card-imagename {
  width: 50%;
}
.fit-main {
  background-color: rgba(1, 137, 189, 0.15);
  padding: 10px;
  color: rgb(1, 137, 189);
  font-size: 1.4rem;
  font-weight: 500;
}
