<div fxLayout="column" class="fit-main">
  <div fxLayout="row">
    <div fxLayout="column" fxLayoutAlign="center" (click)="back.next()">
      <span class="material-icons" style="cursor: pointer;">keyboard_backspace</span>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" style="width: 100%;">
      Change Password
    </div>
  </div>
</div>
<div fxLayout="column" fxLayoutAlign="center center">
  <div fxLayout="column" fxLayoutGap="10px" class="fit-social-card-imagename">
    <div class="user-profile" fxLayout="row" fxLayoutAlign="space-evenly center" fxLayout.xs="column"
      fxLayoutAlign.xs="start start" fxLayout.sm="column" fxLayoutAlign.sm="start start">
      <div class="name-heads" ngStyle.xs="min-width:0 !important" ngStyle.sm="min-width:0 !important">
        New Password
      </div>
      <div class="name-detailss">
        <mat-form-field class="example-full-width" color="accent">
          <input type="text" matInput [(ngModel)]="data.password">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div fxLayout="column" class="fit-social-card-imagename">
    <div class="user-profile" fxLayout="row" fxLayoutAlign="space-evenly center" fxLayout.xs="column"
      fxLayoutAlign.xs="start start" fxLayout.sm="column" fxLayoutAlign.sm="start start">
      <div class="name-heads" ngStyle.xs="min-width:0 !important" ngStyle.sm="min-width:0 !important">
        Confirm Password
      </div>
      <div class="name-detailss">
        <mat-form-field class="example-full-width" color="accent">
          <input type="text" matInput [(ngModel)]="data.cpassword">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div fxLayout="column" fxLayoutGap="20px">
    <div class="user-profile-info" fxLayout="row" fxLayoutGap="20px" style="padding: 20px;"
      fxLayoutAlign="center center">
      <button mat-raised-button color="accent" (click)="update()"> SAVE</button>
      <button mat-raised-button color="warn" (click)="reset()"> RESET</button>
    </div>
  </div>
</div>