<div class="app-resetpassword" *ngIf="!showview">
  <div class="reset-form-main">
    <div class="reset-title" color="acent">RESET PASSWORD</div>
    <div class="logo">
      <img class="logo-img" src="https://i.ibb.co/MM9yWR9/fitsocial-Black.png" alt="resetpassword-Logo">
    </div>
    <div class="resetpassword-form">
      <form>
        <div class="inline-form">
          <mat-form-field appearance="outline" color="accent">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Enter Your Email" type="email" name="email"
              color="accent" [(ngModel)]="data.email" required>

          </mat-form-field>
        </div>
        <div class="inline-form btn-signup">
          <button mat-raised-button color="accent" (click)="forgot()">Request Password</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="app-resetpassword" *ngIf="showview">
  <div class="reset-form-main">
    <div class="reset-title" color="acent">RESET PASSWORD</div>
    <div class="logo">
      <img class="logo-img" src="https://i.ibb.co/MM9yWR9/fitsocial-Black.png" alt="resetpassword-Logo">
    </div>
    <div class="resetpassword-form">
      <form [formGroup]="updateForm" (ngSubmit)="updateForm.valid && passwordreset()" novalidate>
        <div class="inline-form">
          <mat-form-field appearance="outline" color="accent">
            <mat-label>Type the token value you received in the Mail</mat-label>
            <input matInput  formControlName="token" placeholder="Enter Your token"
              color="accent" [(ngModel)]="data.token" required>
            <mat-error *ngIf="updateForm.controls['token'].errors?.required">This field is required.</mat-error>
          </mat-form-field>
        </div>
        <div class="inline-form">
          <mat-form-field appearance="outline" color="accent">
            <mat-label>Password</mat-label>
            <input type="password" [type]="hide ? 'password':'text'" id="password" formControlName="password" matInput
              placeholder="Enter Your Password" [(ngModel)]="data.password" required>
            <mat-icon matSuffix (click)="hide = !hide">
              {{hide ? 'visibility' : 'visibility_off'}}
            </mat-icon>
            <mat-error *ngIf="updateForm.controls['password'].errors?.required">This field is required.</mat-error>
            <mat-error *ngIf="updateForm.controls['password'].errors?.minLength">Password should have 8 digits.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="inline-form">
          <mat-form-field appearance="outline" color="accent" required>
            <mat-label>Confirm Password</mat-label>
            <input type="password" [type]="hide ? 'password':'text'" id="cpassword" formControlName="cpassword" matInput
              placeholder="Enter Your Confirm Password" [(ngModel)]="data.cpassword" required>
            <mat-icon matSuffix (click)="hide = !hide">
              {{hide ? 'visibility' : 'visibility_off'}}
            </mat-icon>
            <mat-error *ngIf="updateForm.controls['cpassword'].errors?.required">This field is required.</mat-error>
            <mat-error *ngIf="updateForm.controls['cpassword'].errors?.minLength">Password should have 8 digits.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="inline-form btn-signup">
          <button mat-raised-button color="accent" [disabled]="!updateForm.valid">Update Password</button>
        </div>
      </form>
    </div>
  </div>
</div>
