.app-resetpassword {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0px;

  > .reset-form-main {
    width: 435px;
    border: 2px solid #f4f4f4;
    padding: 20px 20px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

    > .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      > .logo-img {
       padding: 10px;
        height: 100px;
      }
    }
  }
}
.app-resetpassword {
  > .reset-form-main {
    > .resetpassword-form {
      > form {
        > .inline-form {
          display: flex;
          align-items: center;
          width: 100%;
          justify-content: center;
        }
      }
    }
  }
}
.reset-title {
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  color: #0189bd;
}
mat-form-field {
  width: 100%;
}

.date-radio {
  display: flex;
  align-items: flex-start;
  margin-left: -43px;

  > .radio-group {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: -44px;
  }
}
.example-radio-button {
  margin-right: 20px;
}
.date-radio mat-form-field {
  margin-right: 90px;
}

.btn-signup button {
  min-width: 200px;
  margin: 0px 10px;
}

@media only screen and (max-width: 768px) {
  .date-radio {
    flex-direction: column;
    margin-left: 0;
  }
  .inline-form {
    flex-direction: column;
  }
  mat-form-field {
    margin: 0;
  }

  .date-radio mat-form-field {
    margin-right: 0;
  }
  .radio-group {
    margin-left: 0px !important;
  }

  .cdk-overlay-pane {
    overflow-x: auto;
  }
  .section-1 {
    flex-direction: column;
  }
}

.section-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
}
