<div class="heading">
        <h1 style="font-weight: normal;" class="mainclass">
                <span class="mainclass" data-preserver-spaces="true">The Fit Socials Trainer Guidelines</span></h1>
        <p class="mainclass">&nbsp;</p>
        <p class="mainclass">
                <span class="mainclass" data-preserver-spaces="true">
                        1. A platform fee of Rs.2000 is charged during the registration process, and this is
                        nonrefundable.
                </span>
        </p>
        <p class="mainclass">
                <span class="mainclass" data-preserver-spaces="true">
                        2. You are expected to provide necessary documents while background verification, falsifying
                        documents could end-up in rejection/termination of your account
                </span>
        </p>
        <p class="mainclass">
                <span class="mainclass" data-preserver-spaces="true">
                        3. To conduct sessions online, a trainer is expected to have good internet connectivity and
                        other necessary tools to show himself/herself to the registered audiences, during the sessions.
                </span>
        </p>
        <p class="mainclass">
                <span class="mainclass" data-preserver-spaces="true">
                        4. You can request the trainees to turn on the camera, but it is their choice whether or not to
                        reveal themself, during any online sessions.
                </span>
        </p>
        <p class="mainclass">
                <span class="mainclass" data-preserver-spaces="true">
                        5. An event created by a trainer is subjected to Approval, by the Administrators.An approval
                        process takes up to three business days.
                </span>
        </p>
        <p class="mainclass">
                <span class="mainclass" data-preserver-spaces="true">
                        6. Administrators reserve the right to approve, reject/remove any event.
                </span>
        </p>
        <p class="mainclass"><span class="mainclass" data-preserver-spaces="true">
                        7. An event must have Subscription options and Batch details specified, if not users cannot
                        signup to such events
                </span>
        </p>
</div>