<mat-drawer-container class="parent-listing-container" style="background-color: #F1F5F8;height: 440px;" autosize
  [hasBackdrop]="true">
  <mat-drawer class="listing-slider-container" #drawer mode="over" position="end">
    <app-subs-slider-layout-create *ngIf="sliderInput" [model]="sliderInput" (closeslider)="closingslider()">
    </app-subs-slider-layout-create>
  </mat-drawer>
  <div class="app-layout-cards-list-view" fxLayout="column">
    <div *ngIf="pageManager.status === 1; else showInfoContainer">
      <app-loading-component [imageSize]="2"> </app-loading-component>
    </div>
    <ng-template #showInfoContainer>
      <div *ngIf="pageManager.action === 2; else showEventInfo">
        <div style="height: 410px;" *ngIf="pageManager.action === 2">
          <span fxLayoutAlign="center center" style="color: black;">
            There are no subscriptions at the moment
          </span>
        </div>
      </div>
      <ng-template #showEventInfo>
        <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="none" *ngIf="subs && subs.length">
          <div fxLayout="row" *ngFor="let menu of subs">
            <app-event-cards (cardClicked)="getClickedCard($event)" [amount]="menu"></app-event-cards>
          </div>
        </div>
      </ng-template>
    </ng-template>
  </div>
  <button mat-fab (click)="openCreateSlider()" class="fit-social-add-action-button">
    <i class="material-icons">add </i>
  </button>
</mat-drawer-container>
