.app-usermanage {
  // padding: 10px 100px;
  > table {
    width: 100%;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    border: 1px solid black;
  }
}


.action-btn {
  margin: 0px 10px;
}
.admin-img {
  height: 50px;
  min-width: 100px;
  max-width: 100px;
  padding: 3px 0px;
}
.action-sec {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hover-info:hover {
  // background-color:orange;
  text-decoration: underline;
  color: #673ab7;
  cursor: pointer;
}

// td.data-center {
//   text-align: center;
// }
td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  width: auto;
}
.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}
.app-layout-cards-list-view {
  padding: 10px 20px;
  height: 475px;
  overflow: auto;
}
