.reward-container {
    width: 450px;
    padding: 13px;
    background: #fff;
    .reward-header {
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 800;
        color: #14cda8;
    }
    .reward-amount {
        font-size: 36px;
        font-weight: 800;
        color: #3e4152;
    }
    .reward-description {
        font-size: 12px;
        line-height: 1.5em;
        color: #7e818c;
        text-align: center;
    }
}

table {
    width: 50%;
}


@media all and (max-width: 1024px) {
    .no-points{
        >p:nth-child(n+1) {
            display: none;
        }
    }
}

.event-summary-container {
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  height: 50px;
  .event-go-back {
    padding: 5px;
    cursor: pointer;
    outline: 0;
    color: #000;
    font-weight: 500;
    font-size: 11px;
  }
  .event-summary-headers {
    cursor: default;
    border-radius: 25px;
    padding: 5px 8px 6px 8px;
    outline: 0;
    color: #000;
    font-weight: 500;
    font-size: 11px;
    &:hover {
      background: #2b79fe;
      color: #fff;
      border-radius: 25px;
    }
    &.active {
      background: #2b79fe;
      color: #fff;
      border-radius: 25px;
    }
  }
  }
