<div class="extra-form">
  <button class="action-btn" mat-raised-button color="accent" (click)="addsubsciption()">ADD COUPON</button>
  <button fxLayout="column" class="action-btn" mat-raised-button color="accent" (click)="ExportTOExcel()">
    <span class="material-icons">
      cloud_download
    </span>
  </button>
</div>

<div *ngIf="pageManager.status === 1; else showInfoContainer">
  <app-loading-component [imageSize]="2"> </app-loading-component>
</div>
<ng-template #showInfoContainer>
  <div *ngIf="pageManager.action === 2; else showEventInfo">
    <app-no-content></app-no-content>
  </div>
  <ng-template #showEventInfo>
    <div class="app-usermanage" *ngIf="pageManager.action === 1 && pageManager.status === 2">

      <mat-form-field color="acent">
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Coupon">
      </mat-form-field>
      <h1>The Table showing list of Coupons for "{{eventname}}"</h1>

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="si">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td class="data-center" mat-cell *matCellDef="let element"> {{element.coupon_id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef> Title </th>
          <td mat-cell *matCellDef="let element">
            {{element.title}}
          </td>
        </ng-container>
        <ng-container matColumnDef="percent">
          <th mat-header-cell *matHeaderCellDef> Percentage(%) </th>
          <td class="data-center" mat-cell *matCellDef="let element">{{element.discount_percent}}
          </td>
        </ng-container>

        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef> Amount(₹) </th>
          <td class="data-center" mat-cell *matCellDef="let element"> {{element.max_discount_amount}} </td>
        </ng-container>

        <ng-container matColumnDef="count">
          <th mat-header-cell *matHeaderCellDef> Count </th>
          <td class="data-center" mat-cell *matCellDef="let element">{{element.max_usage_count}} </td>
        </ng-container>

        <ng-container matColumnDef="credate">
          <th mat-header-cell *matHeaderCellDef> Creation Date </th>
          <td class="data-center" mat-cell *matCellDef="let element"> {{element.created_at | date:'dd/MM/yyyy' }} </td>
        </ng-container>

        <ng-container matColumnDef="expdate">
          <th mat-header-cell *matHeaderCellDef> Expiry Date </th>
          <td class="data-center" mat-cell *matCellDef="let element"> {{element.expiry | date:'dd/MM/yyyy' }} </td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef> Type </th>
          <td class="data-center" mat-cell *matCellDef="let element"><span *ngIf="element.isPrivate === 0">Public</span>
            <span *ngIf="element.isPrivate === 1">Private</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td class="data-center" mat-cell *matCellDef="let element" class="action-link">
            <div class="action-sec">
              <a class="action-edit" color="accent" (click)="eventcoupon(element)"><i class="fa fa-pencil-square"
                  aria-hidden="true"></i></a>
              <a class="action-delete" color="warn" (click)="deletecoupon(element)"><i class="fa fa-trash"
                  aria-hidden="true"></i></a>
            </div>

          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <!-- <mat-paginator  #paginator *ngIf="dataSource"
      [length]="menus.length"
      [pageSize]="5"
      [pageSizeOptions]="[5,10,100]"
      [showFirstLastButtons]="true"
      (page)="managePagination($event)">
    </mat-paginator> -->
    </div>
  </ng-template>
</ng-template>