.app-event-card {
 // margin: 0px 10px;
 margin: 20px;
  transition: box-shadow 0.4s ease-in;
  > .event-banner {
    > mat-card {
      > img {
        transition: filter 0.4s ease-in;
      }
    }
  }

  &:hover,
  &:active {
    box-shadow: 2px 1px 12px grey;
    > .event-banner {
      > mat-card {
        > img {
          filter: contrast(55%);
        }
      }
    }
  }

  > .event-banner-img {
    > img {
      width: 100%;
    }
  }
  > .event-content {
    > .event-desc {
      > .event-title {
        font-size: 20px;
        text-transform: uppercase;
        font-weight: bold;
        color: #0189bd;
        text-align: center;
        padding: 10px 0px;
      }
      > .event-info {
        font-size: 12px;
        text-align: justify;
        padding: 0px 10px;
      }
    }
  }
}

mat-card {
  width: 265px;
  max-width: 265px;
  height: 226px;

}

// mat-card-header-text {
//   margin: 0 !important;
// }
// mat-card-header {
//   justify-content: center !important;
//   color: #0189bd;
// }
// mat-card-subtitle {
//   height: 45px;
//   max-height: 45px;
//   -webkit-line-clamp: 1;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   line-height: 1.625;
// }

// .price-sec {
//   display: flex;
//   align-items: center;
//   justify-content: space-evenly;
//   margin: 12px 0px;
// }
// mat-card-subtitle {
//   text-align: justify;
// }
// img {
//   max-height: 175px;
//   height: 175px;
// }
.price-amount {
  font-size: 1.5rem;
  font-weight: bold;
}

.offer-amount {
  text-decoration: line-through;
}

.event-banner {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.event-page {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
 // justify-content: center;
  width: 100%;
  &.inLineMode {
    //  background-color: red;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    //justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    &.paddingLeft {
      padding-left: 60px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .event-page {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .paddingLeft {
    padding: 0 !important;
    justify-content: center !important;
  }
}

.title-event {
  font-size: 1rem;
  text-align: center;
}


.box{
  position: relative;
  margin-bottom: 10px;
  width: 250px;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 0px;
  -webkit-transition: .5s;
  transition: .5s;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  box-shadow: 0px 2px 5px 0px rgba(19, 23, 38, 0.05);
}

.box-body{
  padding: 1.5rem 1.5rem;

    flex: 1 1 auto;
    border-radius: 5px;
}
.box-title{
  display: inline-block;
  margin: 0;
  margin-bottom: 1rem;
  color: #475F7B;
}
