<div *ngIf="pageManager.status === 1; else showInfoContainer">
  <app-loading-component [imageSize]="2"> </app-loading-component>
</div>
<ng-template #showInfoContainer>
  <div *ngIf="pageManager.action === 2; else showEventInfo">
    <app-no-content></app-no-content>
  </div>
  <ng-template #showEventInfo>
    <div class="event-page" [class.inLineMode]="orientation === 'inline'"
      [class.paddingLeft]="orientation === 'inline' && menus.length === 1" [class.blockMode]="orientation !== 'inline'">
      <div class="app-event-card" *ngFor="let menu of menus">
        <app-card [menu]="menu" (cardClicked)="cardsrouting(menu)"></app-card>
      </div>
    </div>
  </ng-template>
</ng-template>