@import "../../../../../styles.scss";

.slider-panel-item {
  height: 99.4%;
  width: $slider-width-medium;
  overflow: hidden;
  overflow-y: auto;
  border: 1px solid #f4f4f4;
  background: #fff;
  border-radius: 5px;
  > .header-items {
    display: flex;
    height: 52px;
    align-items: center;
    border-bottom: 1px solid #f4f4f4;
    > .header {
      height: 52px;
      display: flex;
      align-items: center;
      padding: 0 20px;
      width: 77%;
      font-size: 18px;
      color: #0189bd;
      font-family: inherit;
    }
    > .actions {
      outline: 0;
      display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
      > button {
        outline: 0 !important;
        background-color: $secondary-color;
        span {
          color: #fff !important;
        }
      }
    }
  }

  > .slider-content {
    padding: 20px;
    min-height: 400px;
    overflow: auto;
  }
}

.image-section{
  margin-top: -8px;
  /* width: 356px; */

}

// .inline-form{
//   width: 18px;
// }

.date{
width: 170px;
max-width: 170px;
cursor: pointer;
}
.image-section img{
  width: 100%;
    border-radius: 7px;
    box-shadow: 0px 1px 5px;
    cursor: pointer;
}


.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  font-size: 1.25em;
  font-weight: 700;
  color: #2979ff;
  /* background-color: #e1afaf; */
  display: inline-block;
  border: 1px solid;
  padding: 11px 12px;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: #000;
  color: #fff;
}
.upload-img {
  color: #000;
  margin: 0px 10px;
}
.upload-img:hover {
  color: #fff;
}

.inputfile + label {
  cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}
.event-type{
  width: 170px;
  max-width: 170px;
}
.event-image{
max-width: 150px;
}
